/* Color scheme */
:root {
    --primary-color: #34495e;
    --secondary-color: #2c3e50;
    --accent-color: #f1c40f;
    --light-color: #ecf0f1;
    --dark-color: #2c3e50;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: var(--dark-color);
    margin: 0;
    background-color: var(--light-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
    color: var(--primary-color);
}

.lead {
    font-size: 1.3rem;
}

.container {
    max-width: 1200px;
}

/* Form styles */
form {
    background: #fff;
    padding: 2rem;
    border-radius: 0.3rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

button:hover {
    background-color: var(--accent-color-hover);
    border-color: var(--accent-color-hover);
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar .navbar-brand,
.navbar .navbar-nav .nav-link {
    color: white;
}

.navbar .navbar-brand:hover,
.navbar .navbar-nav .nav-link:hover {
    color: var(--accent-color);
}

.navbar .navbar-toggler {
    border-color: rgba(255, 255, 255, 0.3);
}

.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30' width='30' height='30' fill='%23fff' stroke='rgba(255, 255, 255, 0.3)' stroke-width='1'%3e%3cpath stroke-linecap='round' d='M1 1h28M1 15h28M1 29h28'/%3e%3c/svg%3e");
}

.navbar .nav-link .active {
    color: var(--accent-color);
}

.navbar .btn {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.navbar .btn:hover {
    background-color: var(--accent-color-hover);
    border-color: var(--accent-color-hover);
}

.navbar .btn:focus,
.navbar .btn:active {
    box-shadow: 0 0 0 0.2rem rgba(241, 196, 15, 0.5);
}

/* Main content */
.main-content {
    background-color: #f5f5f5;
    min-height: calc(100vh - 56px);
    /* Adjust for the height of the navbar */
    padding-top: 1rem;
    /* Add some space between the navbar and the content */
}